body {
    margin: 0;
    padding: 0;
    background-image: url('../imgs/backgrounds/bgLogin.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.content-wrapper {
    background-color: transparent !important;
}

#loginCard {
    min-width: 300px;
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    z-index: 9999;
    opacity: 95%;
}

.MsName {
    color: black;
    font-weight: bold;
    font-size: larger;
}

.MsCopyright {
    text-align: center;
    color: white;
    font-weight: bold;
}

.LogoMS {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 280px;
    height: auto;
}

.QuenMatKhauText {
    color: navy;
}

#particles-js {
    width: 100%;
    height: 100vh; /* Use viewport height to make it full-screen */
    background-size: contain;
    background-position: center;
    position: fixed;
    top: 0;
    z-index: 1;
}
