@inherits LayoutComponentBase

<div class="page-content">
    <div class="content-wrapper">
        <div class="content d-flex justify-content-center align-items-center">
            @Body
        </div>
         <span class="d-block MsCopyright">           
            <a style="color: white;">Công ty Cổ phần Cấp nước Hải Phòng</a>
        </span>
    </div>
</div>