@page "/Dm_BcNgay"
@using DAO.Models.DanhMuc
@using DAO.ViewModel;
@using ERPProject.Shared.Combobox;
@inherits BcNgayBase
<style type="text/css">
    #gdv > div.e-gridcontent > div {
        max-height: calc(100vh - 185px) !important;
    }
     .scrollable-table {
            width: 100%;
            height: 100%; /* Adjust the height as needed */
            overflow: auto; /* Enable both horizontal and vertical scrolling */
        }
    .heading-col{
        background-color: #00676B;
        color:#fff;
        text-align: center;
        border: 1px solid #333;
    }
    .row-style{
        border:1px solid #333;
        text-align: center;
    }
</style>

<BodyCard>
    <SfToolbar>
        <ToolbarItems>
            <ToolbarItem Type="ItemType.Button">
                <Template>
                    <SfButton CssClass="e-flat" IconCss="icon-loop3" @onclick="onTaiLai">Tải lại</SfButton>
                </Template>
            </ToolbarItem>
            <ToolbarItem Type="ItemType.Separator">
            </ToolbarItem>

            <ToolbarItem Type="ItemType.Button">
                <Template>
                    <SfButton CssClass="e-flat e-info" IconCss="icon-file-excel" @onclick="onXuatExcel">Xuất excel</SfButton>
                </Template>
            </ToolbarItem>
            <CbMultiChiNhanh Width="500px"  PopupWidth="100%"> </CbMultiChiNhanh>
            <CbMultiTram Width="500px" PopupWidth="100%"></CbMultiTram>


        </ToolbarItems>
    </SfToolbar>
    
    <SfGrid DataSource="@data" AllowPaging="true" AllowFiltering="true" AllowResizing="true">        
        <GridColumns>
            <GridColumn Field="TT" TextAlign="TextAlign.Center" HeaderText="TT" Width="150"></GridColumn>
            <GridColumn Field="ThoiGian" Format="dd/MM/yyyy HH:mm:ss" TextAlign="TextAlign.Center" HeaderText="Thời gian" Width="150"></GridColumn>
            @if (ListNhatKyNgay != null)
            {
                var listTram = ListNhatKyNgay.GroupBy(x=>x.TenTram).Distinct();
                @foreach (var list in listTram)
                {
                    var asx = list.OrderByDescending(x=>x.Thoi_Gian).FirstOrDefault();
                    var time = new DateTime();
                    if(asx != null)
                    {
                        time = asx.Thoi_Gian;
                    }
                    var items = list.Where(x => x.Thoi_Gian == time).ToList();
                    <GridColumn HeaderText="@list.Key" TextAlign="TextAlign.Center" Width="300">
                        <GridColumns>
                            @foreach (var item in items)
                            {
                                <GridColumn HeaderText="@item.TenThongSo" TextAlign="TextAlign.Center" Width="150">
                                    <Template>
                                        @{
                                            var cx = context as BaoCaoNgayViewModel;
                                            var gt = list.FirstOrDefault(x => x.Thoi_Gian == cx.ThoiGian && x.Id_ThongSo == item.Id_ThongSo);
                                            if(gt != null)
                                            {
                                                <div>@gt.Gia_Tri</div>
                                            }
                                            else
                                            {
                                                <div>--</div>
                                            }
                                        }
                                    </Template>
                                </GridColumn>
                            }                            
                        </GridColumns>                       
                    </GridColumn>
                }
            }
        </GridColumns>
    </SfGrid>  
</BodyCard>
