@page "/Dm_BcNgay"
@using DAO.Models.DanhMuc
@inherits BcNgayBase
<style type="text/css">
    #gdv > div.e-gridcontent > div {
        max-height: calc(100vh - 185px) !important;
    }
</style>
<BodyCard>
    <SfToolbar>
        <ToolbarItems>
            <ToolbarItem Type="ItemType.Button">
                <Template>
                    <SfButton CssClass="e-flat" IconCss="icon-loop3" @onclick="onTaiLai">Tải lại</SfButton>
                </Template>
            </ToolbarItem>
            <ToolbarItem Type="ItemType.Separator">
            </ToolbarItem>
           
            <ToolbarItem Type="ItemType.Button">
                <Template>
                    <SfButton CssClass="e-flat e-info" IconCss="icon-file-excel" @onclick="onXuatExcel">Xuất excel</SfButton>
                </Template>
            </ToolbarItem>
            <label><b>Lọc theo chi nhánh</b></label>

            <ToolbarItem Type="ItemType.Input">
               
            </ToolbarItem>
            <label><b>Lọc theo trạm</b></label>

            <ToolbarItem Type="ItemType.Input">
               
            </ToolbarItem>

        </ToolbarItems>
    </SfToolbar>

    <SfGrid id="gdv"
            DataSource="@ListNhatKyNgay"
            AllowReordering="true"
            Width="100%"
            AllowExcelExport="true"
            GridLines="GridLine.Both"
            AllowResizing="true"
            AllowFiltering="true"
            AllowPaging="true">
        <GridPageSettings PageSize="100"></GridPageSettings>
        <GridSelectionSettings EnableToggle="false"></GridSelectionSettings>
        <GridFilterSettings Mode="FilterBarMode.Immediate" ImmediateModeDelay="500" Operators="Operator.Contains"></GridFilterSettings>
        @* Cho phép lựa chọn nhiều dòng *@
        <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
        <GridColumns>
           
            
            <GridColumn Field="Id"
                        IsPrimaryKey="true"
                        HeaderText="STT"
                        HeaderTextAlign="TextAlign.Center"
                        TextAlign="TextAlign.Left"
                        Width="30">
            </GridColumn>
            <GridColumn Field="Thoi_Gian"
                        HeaderText="Thời gian"
                        HeaderTextAlign="TextAlign.Center"
                        TextAlign="TextAlign.Left"
                        Width="30">
            </GridColumn>
            <GridColumn Field="Thoi_Gian"
                        HeaderText="Ngày_tháng"
                        HeaderTextAlign="TextAlign.Center"
                        TextAlign="TextAlign.Left"
                        Width="30">
            </GridColumn>
            @foreach(var item in ListNhatKyNgay)
            {
                if(item != null)
                {
                    <GridColumn Field="@item.TenTram"
                        HeaderText="Trạm"
                        HeaderTextAlign="TextAlign.Center"
                        TextAlign="TextAlign.Left"
                        Width="30">

                    </GridColumn>
                }
                
            }
            @*<GridColumn Field="TenTram"
                        HeaderText="Trạm"
                        HeaderTextAlign="TextAlign.Center"
                        TextAlign="TextAlign.Left"
                        Width="30">
                
                <GridColumns>
                    <GridColumn Field="ThongSo1" HeaderText="Thông số 1" Width="30"></GridColumn>
                    <GridColumn Field="ThongSo2" HeaderText="Thông số 2" Width="30"></GridColumn>
                    <GridColumn Field="ThongSo3" HeaderText="Thông số 3" Width="30"></GridColumn>
                    <!--Thêm các cột thông số khác tại đây-->
                </GridColumns>
            </GridColumn>
            *@
            
        </GridColumns>
    </SfGrid>

</BodyCard>








