@using DAO.Models.DanhMuc
@using ERPProject.Shared.Combobox
@inherits Dm_Tram_CapNhatBase

<style type="text/css">
    .e-upload {
        border: none;
    }

        .e-upload e-control-wrapper e-lib e-keyboard {
            border: none;
        }

        .e-upload .e-file-select-wrap, .e-bigger.e-small .e-upload .e-file-select-wrap {
            padding: 5px;
            height: 0px;
        }

    .e-file-drop, .e-upload-files {
        display: none;
    }
</style>

<SfDialog @bind-Visible="isShow" IsModal="true" ShowCloseIcon="true" Width="900" ZIndex="101">
    <DialogTemplates>
        <Header>
            <h3><i class="@((isThemMoi)?"icon-plus2":"icon-pencil")">@TieuDe</i></h3>
        </Header>
        <Content>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Tên Tram</label>
                        <SfTextBox @bind-Value="objModel.Ten" ShowClearButton="true"></SfTextBox>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Thuộc tổ quản lí</label>
                        <SfNumericTextBox @bind-Value="objModel.Id_Tql" TValue="int" ShowClearButton="true"></SfNumericTextBox>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label>Mã trạm</label>
                        <SfTextBox @bind-Value="objModel.Ma" Width="100%"></SfTextBox>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Địa chỉ</label>
                        <SfTextBox @bind-Value="objModel.Dia_Chi" ShowClearButton="true"></SfTextBox>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Thứ tự</label>
                        <SfNumericTextBox @bind-Value="objModel.Stt" TValue="int" ShowClearButton="true"></SfNumericTextBox>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Tọa độ</label>
                        <SfTextBox @bind-Value="objModel.Toa_Do" ShowClearButton="true"></SfTextBox>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Tại nhà máy</label>
                        <SfCheckBox @bind-Checked="objModel.NhaMay_DuongOng" ShowClearButton="true"></SfCheckBox>
                    </div>
                </div>

            </div>
        </Content>
        <FooterTemplate>
            <SfButton IsPrimary="true" IconCss="icon-floppy-disk" OnClick="onSave">Lưu</SfButton>
            <SfButton CssClass="e-flat e-danger" IconCss="icon-cross" OnClick="onClose">Đóng</SfButton>
        </FooterTemplate>
    </DialogTemplates>
    <DialogEvents Closed="@(()=> { OnLuu.Invoke(isDaCapNhatDuLieu); })"></DialogEvents>
</SfDialog>





