@using DAO.Models.DanhMuc
@inherits ThongSo_Tram_CapNhatBase

<style type="text/css">
    .e-upload {
        border: none;
    }

        .e-upload e-control-wrapper e-lib e-keyboard {
            border: none;
        }

        .e-upload .e-file-select-wrap, .e-bigger.e-small .e-upload .e-file-select-wrap {
            padding: 5px;
            height: 0px;
        }

    .e-file-drop, .e-upload-files {
        display: none;
    }
</style>

<SfDialog @bind-Visible="isShow" IsModal="true" ShowCloseIcon="true" Width="800" ZIndex="101">
    <DialogTemplates>
        <Header>
            <h3><i class="@((isThemMoi)?"icon-plus2":"icon-pencil")">@TieuDe</i></h3>
        </Header>
        <Content>
            <div class="row">
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Trạm</label>
                        <ERPProject.Shared.Combobox.CbTram @bind-Value="objModel.Id_Tram" Width="100%" PopupWidth="100%"></ERPProject.Shared.Combobox.CbTram>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Thông số</label>
                        <ERPProject.Shared.Combobox.CbThongSo @bind-Value="objModel.Id_ThongSo" Width="100%" PopupWidth="100%"></ERPProject.Shared.Combobox.CbThongSo>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Chi nhánh</label>
                        <ERPProject.Shared.Combobox.CbChiNhanh @bind-Value="objModel.Id_ChiNhanh" Width="100%" PopupWidth="100%"></ERPProject.Shared.Combobox.CbChiNhanh>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Tổ giám sát</label>
                        <ERPProject.Shared.Combobox.CbTql @bind-Value="objModel.Id_Tql" Width="100%" PopupWidth="100%"></ERPProject.Shared.Combobox.CbTql>
                    </div>
                </div>

            </div>
        </Content>
        <FooterTemplate>
            <SfButton IsPrimary="true" IconCss="icon-floppy-disk" OnClick="onSave">Lưu</SfButton>
            <SfButton CssClass="e-flat e-danger" IconCss="icon-cross" OnClick="onClose">Đóng</SfButton>
        </FooterTemplate>
    </DialogTemplates>
    <DialogEvents Closed="@(()=> { OnLuu.Invoke(isDaCapNhatDuLieu); })"></DialogEvents>
</SfDialog>






